@model IEnumerable<SGM.Web.Application.Models.Campanha>

@{
    ViewData["Title"] = "Modulo Cidadão";
}

<h2>@ViewData["Title"]</h2>

<div class="container overflow-hidden">
    <div class="row gy-5" align="center">
        <div class="col-6">
            <a asp-controller="Campanhas" asp-action="Index">
                <div class="p-3 border bg-light">Listar Campanhas </div>
            </a>
            <img/>
        </div>

        <div class="col-6">
            <a asp-controller="PoliticaPublica" asp-action="Index">
                <div class="p-3 border bg-light">Listar Politicas Publicas</div>
            </a>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Votação</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Resultados</div>
        </div>
    </div>
</div>