@model IEnumerable<SGM.Web.Application.Models.Campanha>

@{
    ViewData["Title"] = "Módulo Gestão";
}

<h2>@ViewData["Title"]</h2>

<div class="container overflow-hidden">
    <div class="row gy-5" align="center">
        <div class="col-6">
            <a asp-controller="Colaborador" asp-action="Index">
                <div class="p-3 border bg-light">Listar Colaboradores </div>
            </a>
            <img/>
        </div>

        <div class="col-6">
            <a asp-controller="Treinamento" asp-action="Index">
                <div class="p-3 border bg-light">Listar Treinamentos</div>
            </a>
        </div>
        <div class="col-6">
            <a asp-controller="Vaga" asp-action="Index">
                <div class="p-3 border bg-light">Vagas</div>
            </a>
        </div>
    </div>
</div>