@{
    ViewData["Title"] = "Módulos";
}

<h2>@ViewData["Title"]</h2>
<div class="container overflow-hidden">
    <div class="row gy-5" align="center">
        <div class="col-6">
            <a asp-controller="cidadao" asp-action="Index">
                <div class="p-3 border bg-light">Cidadão</div>
                <img>
            </a>
        </div>
        <div class="col-6">
            <a asp-controller="gestao" asp-action="Index">
                <div class="p-3 border bg-light">Gestão</div>
            </a>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Info Georreferenciadas</div>
            <img>            
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Business Intelligence (BI)</div>
        </div>     
        <div class="col-6">
            <div class="p-3 border bg-light">SAFiM</div>
            <img>            
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">SAEM</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">SASCi</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">STUR</div>
        </div>        
    </div>
</div>

             