@{
    ViewData["Title"] = "SGM - Permissão negada";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div style="padding:50px;">
        <div style="font-size:large;color:red;padding-top:20px;">Você não tem permissão para acessar esse recurso.</div>
    </div>
</div>